 body{
            background-color: black;
        }
        .main{
            background-color: azure;
            height: 420px;
            width:250px;
            border: 1px solid rgb(131, 129, 129);
            border-radius: 5px;
            margin-left: 40%;
            margin-top: 5%;
        }

        #disp{
            margin: 10px ;
            width: 88%;
            height: 12%;
            font-size: 30px;
        }
        .button{
            width: 50px;
            height: 40px;
            margin: 7px;
            cursor: pointer;
        }
        .buttonCont{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .button:hover{
            background-color: black;
            color:white;
        }